.App {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}

.search-bar {
  outline: none;
  border: none;
  width: 30%;
  height: 50px;
  caret-color: #736b60;
  box-shadow: #ede7d9 0.1rem 0.1rem 2rem 0.1rem;
  font-size: 1.5em;
  font-weight: bold;
  text-indent: 30px;
  transition: width 300ms;
}
.search-bar::placeholder {
  color: #e0dfdc;
}
.search-bar:focus {
  width: 33%;
  transition: width 500ms;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  width: 300px;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  border-radius: 25px;
}

li {
  background-color: rgba(214, 214, 214, 0.5);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
}

li:last-child {
  margin-bottom: 0px;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #666;
  border-radius: 20px;
}

.row {
  width: 100%;
  height: 8px;
  background-color: #999;
  border-radius: 10px;
  margin-top: 12px;
}
