.App {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}

.search-bar {
  outline: none;
  border: none;
  width: 30%;
  height: 50px;
  caret-color: #736b60;
  box-shadow: #ede7d9 0.1rem 0.1rem 2rem 0.1rem;
  font-size: 1.5em;
  font-weight: bold;
  text-indent: 30px;
}
.search-bar::placeholder {
  color: #e0dfdc;
}
